<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>542497317589-e0so9a9hs1c80r6husrc22dn8qur16mn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.542497317589-e0so9a9hs1c80r6husrc22dn8qur16mn</string>
	<key>API_KEY</key>
	<string>AIzaSyBEFAc8rQqypfJoumO2qwJRzuE4r5XkzI0</string>
	<key>GCM_SENDER_ID</key>
	<string>542497317589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bookKart.bookKart</string>
	<key>PROJECT_ID</key>
	<string>bookkartios</string>
	<key>STORAGE_BUCKET</key>
	<string>bookkartios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542497317589:ios:e139821d4bf52e299ff85c</string>
</dict>
</plist>